
{%extends 'bestfitmaster.html' %}

    {%block content_place_holder %}
      <div class="page-content">
                    <!-- BEGIN BREADCRUMBS -->
                    <div class="breadcrumbs breadcrumbsRibbon">
						<div class="col-sm-8">
	                        <div class="mt-element-ribbon bg-grey-steel">
	                            <div class="ribbon ribbon-vertical-left ribbon-border-vert ribbon-color-info uppercase">
	                                <i class="fa fa-bullhorn"></i>
	                            </div>
	                            <h2 class="ribbon-content">INSTRUCTIONS</h2>
	                        </div>
	                    </div>
	                    <div class="col-sm-4">
	                        <ol class="breadcrumb">
	                            <li>
	                                <a href="#">Home</a>
	                            </li>
	                            <li>
	                                <a href="#">Instructions</a>
	                            </li>
	                        </ol>
	                    </div>
                    </div>
                    <!-- END BREADCRUMBS -->
                    <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
                    <div class="page-content-container">
                        <div class="page-content-row">
                            <!-- BEGIN PAGE SIDEBAR -->

                            <!-- END PAGE SIDEBAR -->
                            <div class="page-content-col">
                                <!-- BEGIN PAGE BASE CONTENT -->

                                <div class="insStart">
                                    <h1>Instructions To The Candidates Before The Examination Starts:</h1>
                                    <div class="col-md-8">
		                           		<div class="row">
		                                    <h3>At the Start of the Examination:</h3>
		                                	<ul>
		                                		<li> Please read the instructions very carefully. </li>
		                                        <li>  Do NOT start the test until instructed to do so at the time of commencement of the examination. </li>
		                                        <li>    Please place your identification documents (such as identity card, university card etc) at the top right corner of your examination desk for the marking of attendance and verification of identity during the examination. </li>
		                                    </ul>

		                                    <h3>During Examination:</h3>
		                                	<ul>
		                                		<li>  You are not allowed to communicate by word of mouth or otherwise with other candidates. </li>
		                                        <li>   Please raise your hand if you wish to communicate with an invigilator. </li>
		                                        <li>    Unless granted permission by an invigilator, you are not allowed to leave your seat. </li>
		                                        <li>     Once you have entered the examination hall, you will not be allowed to leave the hall until one hour after the examination has commenced.  </li>
		                                        <li> You may keep food and drink on or by the desk during the entire examination. You may eat and drink whenever you want. </li>
		                                    </ul>

		                                    <h3>At the End of the Examination:</h3>
		                                	<ul>
		                                		<li>You have to stay in the examination hall until the invigilator has given the permission to leave. Do NOT talk until you are outside of the examination hall </li>
		                                        <li>If dismissed, you should leave the examination hall quickly and quietly. Remember to take your personal belongings with you. </li>
		                                        <li> You can withdraw from an examination anytime. Contact the invigilator and inform him about withdrawl. Withdrawals during an examination will be treated as an examination attempt. </li>
		                                        <li>If you fall ill during the examination and cannot complete it, you can withdraw from the examination by informing the invigilator. </li>
		                                    </ul>

		                                    <h3>Types of Examination:</h3>
		                                    <p> Exam will be divided in three sections.</p>
		                                	<ul>
		                                		<li><b>English</b> - In this section all the question will be realted to English. </li>
		                                        <li><b>Maths</b> - In this section all the question will be realted to Maths. </li>
		                                        <li> <b>General Knowledge</b> - In this section all the question will be realted to General Knowledge. </li>
		                                    </ul>

		                                    <h3>Cheating:</h3>
		                                	<p>The invigilators takes a serious view of cheating. All students are to take note of the examination instructions issued as well as the announcements made during examinations. A candidate who is suspected of cheating in examinations is liable to disciplinary action including (but not limited to) suspension or expulsion from the examination hall. All materials and/or devices which are found in violation of any examination rules and regulations will be confiscated.</p>
										</div>
		                            </div>
                                </div>
                                <!-- END PAGE BASE CONTENT -->
                            </div>
                        </div>
                    </div>
                    <!-- END SIDEBAR CONTENT LAYOUT -->
                </div>

    {% endblock %}
