{%extends 'bestfitmaster.html' %}

 {%block content_place_holder %}
<div class="page-content">
                    <!-- BEGIN BREADCRUMBS -->
                    <div class="breadcrumbs breadcrumbsRibbon">
						<div class="col-sm-8">
	                        <div class="mt-element-ribbon bg-grey-steel">
	                            <div class="ribbon ribbon-vertical-left ribbon-border-vert ribbon-color-danger uppercase">
	                                <i class="fa fa-lightbulb-o"></i>
	                            </div>
	                            <h2 class="ribbon-content">SAMPLE TEST</h2>
	                        </div>
	                    </div>
	                    <div class="col-sm-4">
	                        <ol class="breadcrumb">
	                            <li>
	                                <a href="#">Home</a>
	                            </li>
	                            <li>
	                                <a href="#">Sample Test</a>
	                            </li>
	                        </ol>
	                    </div>
                    </div>
                    <!-- END BREADCRUMBS -->
                    <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
                    <div class="page-content-container">
                        <div class="page-content-row">
                            <!-- BEGIN PAGE SIDEBAR -->
                            <!-- END PAGE SIDEBAR -->
                            <div class="portlet-body">
                                        <div id="" class="current question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 1 </div>
                                                                    <p class="ribbon-content">{% question.title %}</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> {% question.option1 %}
                                                                            <input type="radio" value="1" name="{% question.id %}">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> {% question.option2 %}
                                                                            <input type="radio" value="1" name="{% question.id %}">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        {% question.option3 %}
                                                                            <input type="radio" value="1" name="{% question.id %}">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        {% question.option4 %}
                                                                            <input type="radio" value="1" name="{% question.id %}">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                <button id="next" class="npBtn">Next</button>
                                <button style="display:none" id="prev" class="npBtn">Prev</button>
                                    </div>

                        </div>
                    </div>
                    <!-- END SIDEBAR CONTENT LAYOUT -->
                </div>
{% endblock %}

