{%extends 'bestfitmaster.html' %}

 {%block content_place_holder %}
<div class="page-content">
                    <!-- BEGIN BREADCRUMBS -->
                    <div class="breadcrumbs breadcrumbsRibbon">
						<div class="col-sm-8">
	                        <div class="mt-element-ribbon bg-grey-steel">
	                            <div class="ribbon ribbon-vertical-left ribbon-border-vert ribbon-color-danger uppercase">
	                                <i class="fa fa-lightbulb-o"></i>
	                            </div>
	                            <h2 class="ribbon-content">SAMPLE TEST</h2>
	                        </div>
	                    </div>
	                    <div class="col-sm-4">
	                        <ol class="breadcrumb">
	                            <li>
	                                <a href="#">Home</a>
	                            </li>
	                            <li>
	                                <a href="#">Sample Test</a>
	                            </li>
	                        </ol>
	                    </div>
                    </div>
                    <!-- END BREADCRUMBS -->
                    <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
                    <div class="page-content-container">
                        <div class="page-content-row">
                            <!-- BEGIN PAGE SIDEBAR -->
                            <!-- END PAGE SIDEBAR -->
                            <div class="page-content-col">
                                <!-- BEGIN PAGE BASE CONTENT -->
                                <div class="portlet box blue sampleTest">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-edit"></i>Test Sections</div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                            <a href="javascript:;" class="reload" data-original-title="" title=""></a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="panel-group accordion scrollable queSection" id="accordion2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_1" aria-expanded="true"> English </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_2_1" class="panel-collapse collapse in" aria-expanded="true" style="">
                                                    <div class="panel-body">
                                                        <div id="group">
                                                            <div id="" class="current question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 1 </div>
                                                                    <p class="ribbon-content">Choose the word that is most nearly similar in meaning to the word in capital letters?</p>
                                                                </div>
                                                                <h3>BESEECH</h3>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> starving
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> implore
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        weak
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                            <div id="" class="question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 2 </div>
                                                                    <p class="ribbon-content">Choose the correct synonym of the word in capital letters out of three given options?</p>
                                                                </div>
                                                                <h3>COMMENCE</h3>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> to end
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> to begin
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        to run
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                            <div id="" class="question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 3 </div>
                                                                    <p class="ribbon-content"> Pick the most appropriate meaning for the Idioms out of three options?</p>
                                                                </div>
                                                                <h3>Bed of roses</h3>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> dull life
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> soft bed
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        full of joy
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                        </div>
                                                        <button id="next" class="npBtn">Next</button>
                                                        <button style="display:none" id="prev" class="npBtn">Prev</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2" aria-expanded="false"> Maths </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_2_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <div id="queGroup">
                                                             <div id="" class="current question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 1 </div>
                                                                    <p class="ribbon-content">In a class of 40 students 20% are girls. How many boys are there in the class?</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> 28
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> 30
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        32
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                            <div id="" class="question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 2 </div>
                                                                    <p class="ribbon-content">What comes next in the sequence: 1, 3, 11, 43, ____?</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> 161
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> 171
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        181
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                            <div id="" class="question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 3 </div>
                                                                    <p class="ribbon-content">What is the rate of discount if a bicycle which cost Rs.4,000 is sold for Rs.3,200?</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> 16%
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> 18%
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        20%
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                        </div>
                                                        <button id="nexxt" class="npBtn">Next</button>
                                                        <button style="display:none" id="preev" class="npBtn">Prev</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_3" aria-expanded="false"> Science </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_2_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <div id="queList">
                                                             <div id="" class="current question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 1 </div>
                                                                    <p class="ribbon-content">Which from the following is true for “Sound”?</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> Sound cannot travel through a vacuum
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> Sound cannot travel through gases
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        Sound cannot travel through liquids
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                            <div id="" class="question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 2 </div>
                                                                    <p class="ribbon-content">Sound waves are _________ waves?</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> Transverse
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> Electromagnetic
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        Longitudinal
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                            <div id="" class="question">
                                                                <div class="mt-element-ribbon bg-grey-steel">
                                                                    <div class="ribbon ribbon-border-hor ribbon-clip ribbon-color-success uppercase">
                                                                        <div class="ribbon-sub ribbon-clip"></div> Question 3 </div>
                                                                    <p class="ribbon-content">The fluid part of blood is known as?</p>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label></label>
                                                                    <div class="mt-radio-list">
                                                                        <label class="mt-radio mt-radio-outline"> Plasma
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline"> Platelets
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                        <label class="mt-radio mt-radio-outline">
                                                                        Blood cells
                                                                            <input type="radio" value="1" name="test">
                                                                            <span></span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a class="npBtn" href="" style="float:right;"> Submit </a>
                                                            </div>
                                                        </div>
                                                        <button id="nex" class="npBtn">Next</button>
                                                        <button style="display:none" id="pre" class="npBtn">Prev</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PAGE BASE CONTENT -->
                            </div>
                        </div>
                    </div>
                    <!-- END SIDEBAR CONTENT LAYOUT -->
                </div>
{% endblock %}

